.home {
  padding: 20px;
}

.recMoviesListItem {
  width: 350px;
  /* border: 1px solid black;  */
  margin: 20px;
  box-shadow: 0px 10px 16px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
}

.moviesImg {
  width: 100%;
}

.MovInfo {
  padding: 15px;
}

.MovBtn {
  margin: 0px 20px 0px 0px;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: rgb(185, 185, 245);
  cursor: pointer; 
  font-weight: bold;
  display: flex; 
  align-items: center;
  margin-bottom: 10px; 
}

.MovBtn:hover {
    background-color: blue;
    color: white; 

}

.icon {
    font-size: 20px !important; 
    margin-right: 10px;  
}
