.navbar {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    background-color:rgb(248, 170, 170); 
    height: 80px; 
    position: sticky;
    top: 0; 

}





.navbarLeft {
    margin: 0px 0px 0px 50px; 
}

.navbarLinkItem {
    text-decoration: none;
    color: black; 
    margin: 0px 50px; 
    font-size: 20px; 
    font-weight: bold;
    height: 00%; 
}

.navbarLinkItem:hover {
    color: blue; 
}



